/* whole */
.brief-container{
    display: flex;
    margin-top:30px;
    justify-content: space-evenly;
}
/* image container */
.pet_img{
    padding:5px;
    background-color:ghostwhite;
}
.image{
    width:300px;
    height: 300px;
    object-fit: cover;
}
.tagline{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* description section */
.description-box{
    background-color: whitesmoke;
}
.introduction{
    font-family:cursive;
    background-color: yellow;
    display: inline-block;
}
.about_pet{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}