
/* header */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.header{
    display: flex;
    width: 100%;
    background-color: ivory;
    border-bottom: solid 1px rgb(137, 236, 137);
    position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
    /* position: fixed;
    z-index:100; */
}
.header-options{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 100px;
}
.Logo{
  margin-left: 100px;
  margin-right:10px;
  margin-top: 15px;
  color:#161637;
}
.title{
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;;
    font-size:30px;
    text-decoration: none;
    color:#161637;
}
.linkero{
  text-decoration: none;
}
.options{
    margin: 10px;
    margin-top: 16px;
    margin-left: 20px;
    text-decoration: none;
    color:#161637;
}

.basket-container{
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 100px;
}
.basket{
  color:#161637;
}
.cart_count{
  color:#161637;
  font-family: 'Inter var',sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 3px;
}
.counter{
  width: 20px;
  padding: 2px;
  background-color:lightblue;
  border-radius: 80px;
}
