/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
/* app-brief middle */
.app-brief{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
 }

.app-intro{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 10px;
}
/* .quote{
font-family: 'Dancing Script', cursive;
font-size: 65px;
font-style: normal;
font-weight: 600;
letter-spacing: 5px;
line-height: 100.80000305175781px;
text-transform: none;
color:darkslategray;
margin-left:10px;
}
.quote-mean{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 50px;
    margin-top: -10px;
} */

.description{
    margin-bottom:20px;
    margin-left: 20px;
    font-size: 62px;
    font-family:'Inter', sans-serif;
    color:#161637;
    font-weight: 600;
}
.donate-line{
    font-size: 'Inter',sans-serif;
    font-size: 25px;
    color:#161637;
}
.donate_button{
    width:200px;
    height: 55px;
    border-color: black;
    background-color:#3D3DC3;
    font-family:'Inter', sans-serif ;
    font-size: 14px;
    font-weight:600;
    letter-spacing: 0.98px;
    text-decoration: none solid rgb(255,255,255);
    color:white;
    line-height: 14px;
    border-radius: 5px;
    transition: 1s;
    margin:10px;
    margin-bottom: 30px;
}
.donate_button:after{
    font-size: larger;
    content:"DONATE";
    font-family:'Inter', sans-serif ;
    transition: 1s;
}
.donate_button:hover:after{
    width:300px;
    transition-duration: 1.5s;
    content: "CLICK ME";
}
.signup_button{
    width:200px;
    height: 55px;
    border-color: black;
    font-family:'Inter', sans-serif ;
    font-size: 14px;
    font-weight:600;
    letter-spacing: 0.98px;
    text-decoration: none solid rgb(255,255,255);
    color:black;
    line-height: 14px;
    border-radius: 5px;
    transition: 1s;
    margin:10px;
    margin-bottom: 100px;
}
.screen{
    position: absolute;
    animation: moveito 2s infinite alternate; 
}
.screen2{
 height: 400px;
 width: 400px;
 margin-top: -16px;
 margin-left:155px;
 object-fit: contain;
 box-shadow: black;
}
@keyframes moveito{
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
} 

/* learn more */
.container{
    display: flex;
    flex-direction: row;
    margin-left:150px;
    margin-top: 100px;
}
.image-section{
   margin-left: 50px;
}
.why-section{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    /* padding: 10px; */
}
.why-title{
    font-size: 32px;
    color:#161637;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 5px;
}
.why{
    display: flex;
    font-size: 'Inter',sans-serif;
    font-size: 20px;
    color:#161637;
}
.linker{
    text-decoration: none;
}
.linker:after{
    content:"Learn More";
    text-decoration: none;
}
.linker:hover:after{
  content:"Learn More >";
}

.image-section2{
    margin-left: 50px;
    margin-right: 50px;
 }
 .why-section2{
     display: flex;
     margin-right: 100px;
     flex-direction: column;
     /* padding: 10px; */
 }
 .why-title2{
     font-size: 32px;
     color:#161637;
     font-weight: 700;
     line-height: 40px;
     margin-bottom: 5px;
 }
 .why2{
     display: flex;
     font-size: 'Inter',sans-serif;
     font-size: 20px;
     color:#161637;
 }
 .linker{
     text-decoration: none;
 }
 .linker:after{
     content:"Learn More";
     text-decoration: none;
 }
 .linker:hover:after{
   content:"Learn More >";
 }
 /* @media */


.image-container{
    animation: moveit 1s infinite alternate;
}
@keyframes moveit{
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.code{
    position: absolute;
    margin-top: -300px;
    margin-left: 135px;
}