@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* app-brief middle */
.app-brief{
    height: 550px;
    display: flex;
 }
.poster-img{
  display: flex-inline;
  height:400px;
  width:400px;
  padding: 30px;
  object-fit: contain;
}

.app-intro{
    margin-left: 50px;
}
.quote{
font-family: 'Dancing Script', cursive;
font-size: 65px;
font-style: normal;
font-weight: 600;
letter-spacing: 5px;
line-height: 100.80000305175781px;
text-transform: none;
color:darkslategray;
margin-left:10px;
}
.quote-mean{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 50px;
    margin-top: -10px;
}

.description{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    letter-spacing: 0.2em;
}
.donate_button{
    width:300px;
    height: 80px;
    border-color: black;
    background-color: white;
    border-width: 2px;
    transition: 1s;
}
.donate_button:after{
    font-size: larger;
    content:"DONATE";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}
.donate_button:hover:after{
    width:300px;
    transition-duration: 1.5s;
    content: "CLICK ME";
}

/* learn more */
.qrcode{
    position: absolute;
}
.code{
    margin-top: -300px;
    margin-left: -20px;
}